/* presentation */
body {
    font-family:Arial;
    font-size:10px;
}

.column {
    float:left;
    margin-right:30px;
}

.animateEl {
    background-color: #000;
    width:100px;
    height:100px;
    margin:10px;
}

