// @import "../bourbon/bourbon";
@import "../node_modules/bourbon/app/assets/stylesheets/_bourbon.scss";
@import "constants";

@keyframes fade--in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.anim-fade--in {
	@include animation(fade--in $duration-m ease-in);
	@include animation-iteration-count(1);
	@include animation-fill-mode(forwards);
}

@keyframes fade--out {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
.anim-fade--out {
	@include animation(fade--out $duration-m ease-out);
	@include animation-iteration-count(1);
	@include animation-fill-mode(forwards);
}

.transparent {
    opacity:0;
}

